<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>RogueDarkJedi</string>
	<key>Builder Version</key>
	<string>7534.48.3</string>
	<key>CFBundleDisplayName</key>
	<string>MLP Easy Emotes</string>
	<key>CFBundleIdentifier</key>
	<string>com.tildesoft.safari.MLPEasyEmotes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.8</string>
	<key>CFBundleVersion</key>
	<string>3.8</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Allows you to use the emoticons from /r/MyLittlePony quickly and easily. See http://redd.it/iqces</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.reddit.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/kballard/MLP-Easy-Emotes/raw/master/update.plist</string>
	<key>Website</key>
	<string>http://redd.it/iqces</string>
</dict>
</plist>
